html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;

}


/* Button Styles */

.linh-button {
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

.linh-button.button-lg {
    padding: 8px 16px;
    font-size: 13px;
}

.linh-button.button-md {
    padding: 7px 14px;
    font-size: 12px;
}

.linh-button.button-sm {
    padding: 6px 12px;
    font-size: 11px;
}

.linh-button.button-primary {
    background-color: blue;
    color: white;
}

.linh-button.button-primary:hover {
    background-color: red;
}

.linh-button.button-silver {
    background-color: silver;
}

.linh-button.button-success {
    background-color: green;
    color: yellow;
}

.linh-button.outline {
    background-color: transparent;
}

.linh-button.outline.button-primary {
    color: blue;
    border: 1px solid blue;
}

.linh-button.outline.button-primary:hover {
    background-color: blue;
    color: white;
}


/* Background Button Styles */

.linh-bg-button {
    position: relative;
    padding: 6px 8px;
    text-transform: uppercase;
    color: blue;
    z-index: 100;
    font-size: 11px;
    font-weight: bold;
    margin: 2px 4px;
}

.linh-bg-button:hover {
    color: white !important;
}

.linh-bg-button:hover::before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: blue !important;
    color: white !important;
    top: 0;
    left: 0;
}

.linh-bg-button:hover::after {
    content: " ";
    position: absolute;
    z-index: -2;
    left: 5px;
    top: 5px;
    background-color: pink !important;
    width: 100%;
    height: 100%;
}

.linh-bg-button.active {
    color: black;
}

.linh-bg-button.active::before {
    content: " ";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background-color: pink;
    width: 100%;
    height: 100%;
}

.linh-bg-button.active::after {
    content: " ";
    position: absolute;
    z-index: -2;
    left: 5px;
    top: 5px;
    background-color: blue;
    width: 100%;
    height: 100%;
}


/* Nav Icon Butons */

.linh-nav-icon-button {
    color: black;
    font-size: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
}


.linh-nav-icon-button:hover {
    background-color: silver;
}
.linh-nav-icon-button-special {
    color: black;
    font-size: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
}


/* Hot Tweet List */

.hot-tweet-list {
   color: blue;
   font-style: oblique;
}

.hot-tweet-list__title {
    margin-left: 20px;
    font-size: 15px;
    margin-bottom: 0;
}

.hot-tweet-list ul {
    padding-inline-start: 0;
}

.hot-tweet-list ul li {
    list-style: none;
}

.tweet-item__title {
    display: block;
    text-decoration: none;
    font-size: 12px;
    padding: 10px 20px;
    color: black;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.tweet-item__title:hover {
    background-color: #f2f2f2;
    color: blue;
}

.tweet-item__bullet {
    box-sizing: border-box;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    vertical-align: top;
    transform: translateY(7px);
    flex-shrink: 0;
}

.tweet-item__content {
    margin-left: 6px;
    flex-grow: 1;
    font-size: 15px;
}

.tweet-item__count {
    font-size: 10px !important;
    color: rgba(0, 0, 0, 0.7);
}


/* Tweet Card */

.tweet-card {
    background-color: white;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.tweet-card__avatar-wrapper {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.tweet-card__thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tweet-card__background img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.tweet-card__avatar-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tweet-card__info {
    display: inline-block;
    vertical-align: top;
}

.tweet-card__user-name {
    display: block;
    font-weight: bold;
    color: black;
    font-size: 13px;
    margin: 7px 0 1px;
}

.tweet-card__date-post {
    font-size: 10px;
    margin-top: 1px;
}

.tweet-card__content {
    margin-left: 56px;
}

.tweet-card__actions-container {
    display: flex;
    justify-content: space-between;
}

.tweet-card__read-count {
    font-size: 10px;
    margin-right: 6px;
}

.tweet-card__title {
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
}

.tweet-card__title:hover {
    color: blue;
}

.tweet-card__tags-container {
    margin-bottom: 10px;
}

.tweet-card__tags-container a {
    text-decoration: none;
    font-size: 15px;
    color: #666;
    margin-right: 8px;
}

.tweet-card__tags-container a:hover {
    color: black;
}


/* Main nav */

.main-nav {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.app-logo {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 4px 6px;
    border-radius: 4px;
}

.main-container {
    padding-top: 12px;

    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
}

.main-content {
    flex-grow: 1;
    margin-top: 50px;
    padding: 0px;
}

.main-content-detail {
    flex-grow: 1;
    margin-top: 50px;
    padding: 50px;
}

.right-side {
    padding-top: 70px;

    width: 250px;
    flex-shrink: 0;
}

.tab-controllers {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.tab-controllers a {
    font-size: 20px;
}

/* left side */

.left-side {
    padding-left: 0px;
    padding-top: 70px;
    width: 250px;
    flex-shrink: 0;
}

.left-side ul {
    width: 200px;
    padding-left: 0px;
    list-style: none;
    font-weight: bolder;
}

.tweet-item__bulletsizebar {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: top;
    transform: translateY(2px);
    flex-shrink: 0;
}

.tagscroll {
    border: 3px;
    width: 200px;
    height: 300px;
    overflow: scroll;
}

.tagscrolltag {
    direction:rtl;
    border: 3px;
    width: 200px;
    height: 300px;
    overflow: scroll;
}
.tagscrolltag div{
    direction:ltr;
}

/* detail-page */

.post-card {
    background-color: white;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.post__title {
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
}

.post__content {
    margin-left: 56px;
}

.post_review {
    border-color: aqua solid !important;
}

footer {
    height: 200px;
    text-align: center;
    background-color: whitesmoke;
}

.post-review {
    display: inline-flex;
    justify-content: space-between;
    /* width: 1000px; */
    margin-left: 30px;
}

.post-review-card {
    width: 400px;
    border: solid;
    color: silver;
    margin: 10px;
}

.post-review-card__title {
    display: block;
    text-decoration: none;
    color: black;
    margin: 10px;
    font-weight: bold;
}

.post-review-card__content {
    text-decoration: none;
    color: blue;
    text-align: justify;
    font-weight: bold;
}

main {
    padding: 50px;
}

.main-content-comment {
    flex-grow: 1;
    margin-top: 50px;
    padding: 0 12px 10px 10px;
}

.comment__info {
    display: inline-block;
    vertical-align: 5;
    padding-bottom: 1px;
}

.comment__avatar-wrapper {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.comment__avatar-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* nav left size detail*/

.main-container-detail {
    padding: 30px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
}

.left-side-detail {
    padding: 67px 1px 1px 1px;
    width: 70px;
    flex-shrink: 0;
}

.left-side-detail ul {
    width: 200px;
    list-style: none;
    font-weight: bolder;
}

.menu {
    background: whitesmoke;
    width: 80px;
    height: 100%;
    padding: 0px;
    list-style-type: none;
    text-align: left;
    position: fixed;
}

.menu span {
    font-size: smaller;
    font-weight: bolder;
}

textarea {
    width: 800px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.main-container-detail {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
}

.right-side-detail {
    padding-top: 100px;
    width: 250px;
    flex-shrink: 0;


}

.hot-user {
    height:200px;
    border: 1px solid black;
    background-color: white;
    text-decoration: none;
    position: fixed;


}

.newsicon{
    font-size: 17px ;
    color: yellow;
    width: 10px;
    height: 10px;
    background-color: blue;
   animation-name: example;
   animation-duration: 0.5s;
   animation-iteration-count: infinite;
}
@keyframes example {
    from {background-color:blue;}
    to {background-color: red;}
   }
.user__background{
    border: double  3px #230045;
    padding-top: 100px;
    padding-left: 300px;
    width: 100%;
    height:300px ;
    background-color:#ffe7fc;

}
.user__avatar-wrapper {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.contact{
    display: inline-block;
    width: 30%;
    height: 300px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .title {
    color: grey;
    font-size: 18px;
  }
  .card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  .card button:hover, a:hover {
    opacity: 0.7;
  }
  .main-content {
    background-color: #f6f6f6;
    width: 400px;
    margin: 20px auto;
    font: normal 13px/100% sans-serif;
    color: #444;
}

 */
.profile_user {
    padding-left:20px ;
}
.profile_user a {
   text-decoration: none;
}
/* Drop Button */
.dropdown {
    padding-left: 10px;
    position: relative;
    display: inline-block;
    z-index: 100000;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100000;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 100000;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
    z-index: 100000;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
